:root {
    --pinky: #F23D6D;
    --rick-blue: #3BC9D9;
    --space-black: #0D0D0D;
    --acid-green: #B3D92B;
    --morty-yellow: #F5F582;
}
/* Universal Selectors */
*, *:before, *:after {
    box-sizing: border-box;
    text-align: center;
}

* {
    background-color: var(--space-black);
}
/* Element selectors */


/* Class Selectors */
.cards {
    align-items: center;
    text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
    margin: 0 auto 20px;
    color: var(--rick-blue);
    border: 3px solid var(--acid-green);
    background-color: var(--space-black);
    height: 25rem;
    width: 17rem;
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 #aaa;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
}

.transition {
    position: absolute;
    transform: rotate(0deg);
}

.cards img {
    border-radius: 20px;
    border: 3px solid var(--acid-green);
    
}
.card-1 {
    z-index: 6;
    transform: rotateZ(0deg);
}
.card-2 {
    z-index: 5;
    transform: rotateZ(2.5deg);
}
.card-3 {
    z-index: 4;
    transform: rotateZ(-2.5deg);
}
.card-4 {
    z-index: 3;
    transform: rotateZ(-5deg);
}
.card-5 {
    z-index: 2;
    transform: rotateZ(5deg);
}
/* ID Selectors */
#card-content{

}

#card-list{

}

/* Media Queries */




/* Header Nav Styling */

header {
    align-items: center;
    text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
    color: var(--rick-blue);
    border: 3px solid var(--acid-green);
    background-color: var(--space-black);
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 #aaa;
    position: relative;
    overflow: hidden;
    list-style-type: none;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
}
  
  
  

  /* Form Styling */

  Form {
    align-items: center; 
    color: var(--rick-blue);
    border: 3px solid var(--acid-green);
    background-color: var(--rick-blue);
    border-radius: 10px;
  }
    

    .ourFormText {
        color: var(--rick-blue);
        font-size:x-large;
        
    }
    
   

