:root {
    --pinky: #F23D6D;
    --rick-blue: #3BC9D9;
    --space-black: #0D0D0D;
    --acid-green: #B3D92B;
    --morty-yellow: #F5F582;
}
/* Universal Selectors */
*, *:before, *:after {
    box-sizing: border-box;
    text-align: center;
}


/* * {
    background-color: var(--space-black);
} */

/* Element selectors */
body {
    background-image: url(../Images/stars.jpg);

    margin: 0;
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-attachment: fixed;
  background-position: center;
}

/* Header Nav Styling */
header {
    width: 100%;
    align-items: center;
    text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
    color: var(--rick-blue);
    background-color: var(--space-black);
    padding-top: 20px;
    margin: 0;
}
  
h1 {
margin: 0;
color: var(--rick-blue);
text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
}



/* Form Styling */
form {
align-items: center; 
color: var(--rick-blue);
background-color: var(--space-black);
}

form button {
    width: 50px;
    font-weight: bold;
}

/* Class Selectors */


.header-image img {
    margin-bottom: 1rem;
    /* rounds image corners */
    border-radius: 15px;
}

/* our form button styling */
.ourForm {
    margin: 1rem 0 1rem 0;
    padding: 0.75rem;
    width: 50rem;
    border-radius: 15px;
    background-color: var(--pinky);
}

.ourFormText {
    color: var(--acid-green);
    font-size:x-large;
}

/* form input styling */
.ourFormText input {
    border-radius: 10px;
    box-shadow: 2px 2px 15px 3px #aaa inset;
}

.ourButton {
    width: 20px;
    background-color: var(--rick-blue);
    color: var(--space-black);
    border-radius: 15px;
    
}

.ourButton:hover {
background-color: var(--acid-green);
color: var(--space-black);
}

.ourButton:active {
    background-color: var(--pinky);
}
.ourButton:focus {
    background-color: var(--morty-yellow);
    color: var(--space-black);
}

.cards {
    display: inline-block;
    text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
    margin: 0 auto 20px;
    color: var(--rick-blue);
    border: 3px solid var(--acid-green);
    background-color: var(--space-black);
    height: 25rem;
    width: 17rem;
    left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
    border-radius: 10px;
    box-shadow: 1px 2px 2px 0 #aaa;
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    transition: all cubic-bezier(0.645, 0.045, 0.355, 1);
    cursor: pointer;
    transition: all 1s ease;
}
.expand {
    height:fit-content;
    width: fit-content;
}

.transition {
    position: relative;
    transform: rotate(0deg);
}

.cards img {
    border-radius: 20px;
    border: 3px solid var(--acid-green);
    
}
.card-1 {
    z-index: 6;
    transform: rotateZ(0deg);
}
.card-2 {
    z-index: 5;
    transform: rotateZ(2.5deg);
}
.card-3 {
    z-index: 4;
    transform: rotateZ(-2.5deg);
}
.card-4 {
    z-index: 3;
    transform: rotateZ(-5deg);
}
.card-5 {
    z-index: 2;
    transform: rotateZ(5deg);
}

/* ID Selectors */


#main-container {
    width: 100%;
    background-color: var(--space-black);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#drop-down {
    border-radius: 10px;
    /* adds shadow effect to the input area of the form */
    box-shadow: -2px 2px 15px 1px #8b8b8b inset;
}


#card-container {
    display: flex;
    flex-direction: row;
}

#card-content{

/* our form button styling */
.ourFormText {
    color: var(--rick-blue);
    text-shadow: -1px -1px 0 var(--acid-green), 1px 1px 0 var(--acid-green), -1px 1px var(--acid-green), 1px -1px var(--acid-green);
    font-size:x-large;
    font-weight: bolder;
    
}

.ourButton {
    background-color: var(--rick-blue);
    color: var(--space-black);
    border-radius: 15px;
}

.ourButton:hover {
background-color: var(--acid-green);
color: var(--space-black);

}

#card-list{

}



/* Media Queries */

